.text-border {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
body {
  overflow-x: hidden;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2f363a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0f33ff;
  border-radius: 10px;
}

@supports not selector(: : -webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
